<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head"); %>
        <title>Building Select</title>
</head>

<body>
    <%- include("back"); %>
    <div class="container-fluid">
        <div class="row">
            <% Object.keys(buildings).forEach((name) => { %>
                <div class="col-3 p-1">
                    <a href="/building?page=<%- name %>">
                        <div class="oit-card" style="background-image: url(' <%- buildings[name].images[0] %>')">
                            <div class="oit-card-text">
                                <p>
                                    <%= buildings[name].name // It's confusing but it works %> 
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <% }); %>
        </div>
    </div>
    <%- include("nav", {current: '"building_select"' }) %>
    <%- include("tail") %>
</body>

</html>