<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head"); %>
    <link rel="stylesheet" href="css/building.css">
    <% console.log(building); %>
    <title><%= building.name %></title>
</head>

<body>
    <%- include("back") %>
    <table class="container-fluid">
        <% if (building.images.length >= 1) %>
            <tr class="row m-auto">
                <td class="col-12 cover main" id="building-crop-1">
                    <img src="<%= building.images[0] %>">
                </td>
            </tr>
        <tr class="row m-auto">
            <% switch (building.images.length)
            {
                case 4: %>
                <td class="col-4 cover"><img src="<%= building.images[1] %>"></td>
                <td class="col-4 cover"><img src="<%= building.images[2] %>"></td>
                <td class="col-4 cover"><img src="<%= building.images[3] %>"></td>
            <% break;
                case 3: %>
                <td class="col-6 cover"><img src="<%= building.images[1] %>"></td>
                <td class="col-6 cover"><img src="<%= building.images[2] %>"></td>
            <% break;
                case 2: %>
                <td class="col-12 cover"><img src="<%= building.images[1] %>"></td>
            <% break;
            } %>
        </tr>
        <tr class="row m-auto">
            <td class="col-4 blue-box">
                <h4>Quick Facts</h4>
                <h5>Built</h5>
                <p>0000</p>
                <h5>Primary Majors</h5>
                <p>Software</p>
                <p>Embedded</p>
                <p>Electrical</p>
            </td>
            <td class="col-8">
                <h1 class="title"><%= building.name %></h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, molestias praesentium! Minus eum,
                    eaque laborum nemo quae eos velit aut at mollitia asperiores, sint unde dolorum doloribus
                    repellendus modi dolores!
                </p>
            </td>
        </tr>

    <!-- Images for this file are stored in css/building.scss -->
    <tr class="row m-0">
        <td class="col-3 p-1">
            <div class="oit-card" id="card-img-1">
                <div class="oit-card-text">
                    <p>CEET</p>
                </div>
            </div>
        </td>
        <td class="col-3 p-1">
            <div class="oit-card" id="card-img-2">
                <div class="oit-card-text">
                    <p>College Union</p>
                </div>
            </div>
            
        </td>
        <td class="col-3 p-1">
            <div class="oit-card" id="card-img-3">
                <div class="oit-card-text">
                    <p>Dow Center</p>
                </div>
            </div>
            
        </td>
        <td class="col-3 p-1">
            <div class="oit-card" id="card-img-4">
                <div class="oit-card-text">
                    <p>Snell Hall</p>
                </div>
            </div>
            
        </td>
    </tr>
    </table>

    <%- include("tail"); %>
</body>
</html>