<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("head"); %>
    
    <link rel="stylesheet" href="css/card_fix.css">

    <title>Major Select</title>
</head>

<body>
    
    <div class="container-fluid">
        <div class="row">
            <% categories.forEach(category => 
            {
                let categoryAsClass = cleanString(category.title);
                %>
                <div class="width-25 collapser p-1" type="button" data-bs-toggle="collapse" data-bs-target=".<%= categoryAsClass %>"
                    aria-expanded="false" aria-controls=".<%= categoryAsClass %>">
                    <div class="oit-card" style="background-image: url('images/Categories/<%= categoryAsClass %>/<%= images[categoryAsClass][0] %>')">
                        <div class="oit-card-text">
                            <p><b><%= category.title %></b></p>
                        </div>
                    </div>
                </div>

                <% category.pageData.forEach(degree => 
                {
                    let cleanDegreeName = cleanString(degree.id);
                    %>
                    <div class="width-25 p-1 <%= categoryAsClass %> collapse in-group">
                        <a href="/major?page=<%- degree.id %>">
                            <div class="oit-card" style="background-image: url('images/Majors/<%- cleanDegreeName %>/<%- images[cleanDegreeName][0] %>')">
                                <div class="oit-card-text">
                                    <p><%= degree.id %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% });
            }); %>
        </div>
    </div>

    <%- include("nav", {current: "major_select"}) %>
    <script src="js/card_fix.js"></script>
</body>

</html>