<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("head"); %>
    
    <link rel="stylesheet" href="css/card_fix.css">

    <title>Major Select</title>
</head>

<body>
    <%- include("back") %>
    <div class="container-fluid">
        <div class="row">
            <% categories.forEach(category => 
            {
                let good_chars = /[^A-Za-z0-9\_-]/g; // [^ ] means match everything not in the square brackets
                let categoryAsClass = category.title.replace(good_chars, "");
                %>
                <div class="width-25 collapser p-1" type="button" data-bs-toggle="collapse" data-bs-target=".<%= categoryAsClass %>"
                    aria-expanded="false" aria-controls=".<%= categoryAsClass %>">
                    <div class="oit-card" style="background-image: url('<%= 'images/frog1.jpg' %>')">
                        <div class="oit-card-text">
                            <p> <%= category.title %> </p>
                        </div>
                    </div>
                </div>

                <% category.pageData.forEach(degree => 
                {
                    %>
                    <div class="width-25 p-1 <%= categoryAsClass %> collapse in-group">
                        <a href="/major?page=<%- degree.id %>">
                            <div class="oit-card" style="background-image: url('<%= 'images/frog2.jpg' %>')">
                                <div class="oit-card-text">
                                    <p><%= degree.id %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% });
            }); %>
        </div>
    </div>

    <%- include("nav", {current: '"major_select"'}) %>
    <script src="js/card_fix.js"></script>
</body>

</html>