<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head"); %>
    <link rel="stylesheet" href="css/card-fix.css">
    <title><%= professor.name %></title>
</head>

<body>
    
    <table class="container-fluid">
        <tr class="row">
            <td class="col-6">
                <% if (images.length != 0) { %>
                    <div>
                        <div class="oit-card"
                            style="background-image: url('images/Professors/<%- cleanString(professor.name) %>/<%- images[0] %>');"></div>
                    </div>
                <% } %>
                <div class="blue-box">
                    <% if (locals.professor["department"]) { %>
                        <h4>Department</h4>
                        <p>
                            <%= professor["department"] %>
                        </p>
                    <% } %>
                    <% if (locals.professor["email"]) { %>
                        <h4>Email</h4>
                        <p>
                            <%= professor["email"] %>
                        </p>
                    <% } %>
                    <% if (locals.professor["office"]) { %>
                        <h4>Office</h4>
                        <p>
                            <%= professor["office"] %>
                        </p>
                    <% } %>
                    <% if (locals.professor["phoneNumber"]) { %>
                        <h4>Phone Number</h4>
                        <p>
                            <%= professor["phoneNumber"] %>
                        </p>
                    <% } %>
                </div>
            </td>
            <td class="col-6">
                <div class="vertical">
                    <p>
                        <%= professor.name %>
                    </p>
                </div>
            </td>
        </tr>
    </table>
    <%- include("nav", {current: "professor_select" }) %>
    <script src="js/card_fix.js"></script>
</body>
</html>
