<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head"); %>
    <link rel="stylesheet" href="css/professor_select.css">
    <title>Professor Directory</title>
</head>
<body>

<h1 class="center">Staff Directory</h1>
<%
let ordered = Object.values(professors).sort((a, b) => {
    // I don't know how this works but it does. Should return the same as c strcmp though.
    return ( ( a.last_name == b.last_name ) ? 0 : ( ( a.last_name > b.last_name ) ? 1 : -1 ) );
});

ordered.forEach((professor) => { %>

    <a href="/professor?page=<%- professor.name %>">
        <div class="prof-card">
            <p class="name">
                <%= professor.name %>
            </p>
            <p class="bottom"><b>Department:</b> <%= professor.department %></p>
        </div>
    </a>

<% }); %>
<%- include("nav", {current: "professor_select"}); %>
<%- include("tail"); %>    
</body>
</html>