<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head"); %>
    <link rel="stylesheet" href="css/professor_select.css">
    <title>Professor Directory</title>
</head>
<body>

<h1 class="center">Staff Directory</h1>
<div class="container-fluid m-0 p-0">
    <div class="row m-0">
        <div class="col-3 p-0 m-0 center">
            <a href="/professor_select?sort=department">
                <div class="prof-card">
                    <p class="name m-0">Sort by department</p>
                </div>
            </a>
        </div>
        <div class="col-3 p-0 m-0 center">
            <a href="/professor_select?sort=name">
                <div class="prof-card">
                    <p class="name m-0">Sort by name</p>
                </div>
            </a>
        </div>
        
        
        
    </div>
</div>
   
<%
let ordered;
if (sort == "name")
{
    ordered = Object.values(professors).sort((a, b) => {
    // I don't know how this works but it does. Should return the same as c strcmp though.
        return ( ( a.last_name == b.last_name ) ? 0 : ( ( a.last_name > b.last_name ) ? 1 : -1 ) );
    });
}
else if (sort == "department" || sort == undefined)
{
    ordered = Object.values(professors).sort((a, b) => {
    // I don't know how this works but it does. Should return the same as c strcmp though.
    return ( ( a.department == b.department ) ? 0 : ( ( a.department > b.department ) ? 1 : -1 ) );
    });
}


ordered.forEach((professor) => { %>

    <a href="/professor?page=<%- professor.name %>">
        <div class="prof-card">
            <p class="name">
                <%= professor.name %>
            </p>
            <p class="bottom"><b>Department:</b> <%= professor.department %></p>
        </div>
    </a>

<% }); %>
<%- include("nav", {current: "professor_select"}); %>
<script src="js/professor_select.js"></script>
</body>
</html>